body{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, sans-serif;
    margin:0px;
}

header.SiteHeader{
    padding:5px;
    background:#6B6E3F;
    width: 854px;
    padding-bottom:2px;
}

article{
   max-width:700px;
   min-width:400px;
   margin-left:240px;
   padding:20px; 
}

article header{
	text-align:center;
	margin:10px;
	padding:10px;
}

article header h1{
    font-size:xx-large;
    margin:2px;
}

article header h2{
	font-weight:bold;
	margin:2px;
	font-size:14px;
}

article header .Byline{
	font-size:small;
	font-style:italic;
	margin:2px;
}

aside.NavSidebar{
    background-color:#eee;
    font-size:small;
    padding:5px 15px 0px 15px;
    min-height:1500px;
    width:203px;
    float:left;

}

.Content{
	font-size:medium;
	font-family: Cambria,Cochin,Georgia, Times, "Times New Roman", serif;
    line-height:120%;
} 

.Content .LeadIn{
    font-weight:bold;
    font-size:large;
    font-variant:small-caps;
} 

.Content h2{
	color:#24486C;
	margin-bottom:2px;
	font-size:medium;
}

.Content p{
	margin-top:0px;
}


figure{
   float:left;
   margin-left: 0px;
   margin-top: 0px;
   margin-right: 20px;
   margin-bottom: 0px;
}

figure figcaption{
	max-width:200px;
    font-size:small;
    font-style:italic;
    margin-bottom:5px;
}

aside.PullQuote{
    float:right;
    max-width:300px;
    font-size:30px;
    border-top:thin black solid;
    border-bottom:thick black solid;
    line-height:130%;
    font-style:italic;
    padding-top:5px;
    padding-bottom:5px;
    margin-left:15px;
    margin-bottom:10px;
}

aside.PullQuote img{
	vertical-align:bottom;
}

#FatFooter{
    background-color:#ECD672;
    position:fixed;
    bottom:0px;
    height:145px;
    width:100%;
    border-top:thin solid black;
    font-size:small;
}

#FatFooter img.CloseButton{
    cursor:pointer;
    float:right;
    margin:4px;
}

#FatFooter div.FloatBox{
    float:left;
    padding:10px;
}


#FatFooter footer{
    clear:both;
    text-align:center;
    font-size:x-small;
}

#FatFooter footer .Disclaimer{
    font-style:italic;  
}

#FatFooter footer p {
    margin: 3px;
}









